.container {
	display:flex;
	align-items: baseline:;
	flex-direction: row;
	justify-content: space-around;
}

.jumbotron {
	text-align: center;
}

.toast {
		display:flex;
	align-items: baseline:;
	flex-direction: row;
	justify-content: space-around;
}

